{% extends "base.html" %}

{% block title %}: About{% endblock %}

{% block content %}
    <div class="journal">\
        <div class="about">
            <div class="journal-container about-container">
                <h3>Welcome Adventurer!</h3>
    
                <p>...To Mortium, which as the name suggests is a handy book to keep track of your important quests from your life and log your thoughts from your adventures to your journal.</p>
    
                <br>
    
                <p>I've created this website as a final project for Harvard's CS50 2024 Course, and it's built using HTML/CSS for the front end, alongside python and sqlite(<i>3</i>) for the backend.</p>
    
                <br>
    
                <p>The source code, as well my other solutions to CS50's problem sets and other projects, can easily be found at my personal GitHub so take a peek if you're curious.</p>
    
                <br>
                <br>
    
                <p class="signature">- Nikk</p>
            </div>
    
            <div class="socials">
                <a href="https://github.com/nickkay0/" target="_blank"><img src="../static/images/github.png" width="64px" height="64px"></a>
                <a href="https://www.linkedin.com/in/nick-karamitros-00123b313/" target="_blank"><img src="../static/images/linkedin.png" width="64px" height="64px"></a>
            </div>
        </div>
    </div>
{% endblock %}