{% extends "base.html" %}

{% block title %}: Change Password{% endblock %}

{% block main %}

    <div class="login">
        <div class="login-container">
            <h2>New Password</h2>
            <hr>
            <form action="/change-password" method="post"> 
                <div>
                    <input name="old_password" placeholder="Old Password" type="password" required>
                </div>

                <div>
                    <input name="new_password" placeholder="New Password" type="password" required>
                </div>
                <button type="submit">Change</button>
            </form>
    
            {% if error_msg %}
                <p class="error-msg">{{error_msg}}</p>
            {% endif %}

            <hr>

        </div>
    </div>
{% endblock %}